h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding-top: 20px;
}

.header {
    background: black;
    height: 75px;
    text-align: center;
    margin: 0 auto;
}

#main-bio,
#contact-info,
#bio-image {
    float: left;
}