p {
    font-family: arial;
    color: #777777;
}

a {
    text-decoration: none;
    color: #4aaaa5;
}

body {
    background: whitesmoke;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    border-bottom: solid #cccccc 1px;
    background: #ffffff;
    width: 100%;
}

.navbar {
    overflow: hidden;
    background: #ffffff;
    float: right;
    margin-top: 40px;
}

.navbar li {
    color: lightgrey;
    display: inline-block;
    padding: 0px 10px 0px 10px;
}

.navbar li:hover {
    color: #19FFF3;
}

.nav-link {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    list-style-type: none;
    display: inline-block;
}

li:hover {
    color: #19FFF3;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: #ffffff;
    padding: 15px;
    width: 250px;
    text-align: center;
    margin-left: 100px;
    display: inline-block;
}

.container {
    background: #ffffff;
    border: solid 1px #dddddd;
    flex: 1 0 auto;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    background: #666666;
    color: #ffffff;
    height: 30px;
    flex-shrink: 0;
    text-align: center;
    padding: 40px;
    border-top: 8px solid #4aaaa5;
}

#profile_pic {
    max-width: 150px;
    max-height: 150px;
    float: left;
    margin-right: 20px;
    border-radius: 10px;
}

.teal {
    color: #4aaaa5;
    margin-bottom: 5px;
}

.personal_info {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkgray;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.bio_section {
    display: inline-block;
}

.background_title {
    margin-top: 0px;
}

.contact_form {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

.contact_form > p {
    margin: 5px;
    color: #777777;
}

textarea {
    display: inherit;
    resize: none;
    border-color: #cccccc;
    margin-bottom: 10px;
    width: 500px;
    height: 125px;
    margin-top: 5px;
}

.divider {
    border-bottom: solid 1px #cccccc;
    margin: 0;
    padding-top: 10px;
}

#contact_name {
    margin-left: 5px;
    height: 25px;
    width: 497px;
    margin-bottom: 5px;
}

#email_address {
    margin-left: 5px;
    height: 25px;
    width: 497px;
    margin-bottom: 5px;
}

#submit {
    color: #ffffff;
    background-color: #4aaaa5;
    width: 125px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 5px;
}

* {
    box-sizing: border-box
}

.thumbnail {
    max-width: 150px;
    padding: 5px;
    color: white;
    position: relative;
}

.banner {
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 30px;
    opacity: .9;
    padding: 10px;
}

.portfolio_gallery {
    width: auto;
    display: flex;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}
